@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header,
main,
footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 70vw;
    /* background-color: crimson; */
}


header{
    background-color: #1f2937;
    display: flex;
    padding: 16px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links *{
    padding: 0 10px;
    text-decoration: none;
    color: #f9faf8;
}

main{
    flex-direction: column;
}



