@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header,
main,
footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 70vw;
    /* background-color: crimson; */
}


header{
    background-color: #1f2937;
    display: flex;
    padding: 16px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links *{
    padding: 0 10px;
    text-decoration: none;
    color: #f9faf8;
}

main{
    flex-direction: column;
}

.hero{
    width: 70vw;
    height: 70vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-wrapper{
    background-color: #1f2937;
    width: 100vw;
}

.hero-wrapper *{
    margin: 0 auto;
}

.hero-text{
    flex-wrap: wrap;
}

.hero-text *{
    padding: 8px;
}

.hero-tittle{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtittle{
    color: #f9faf8;
    font-size: 14px;
    margin-bottom: 10px;
}

.hero button{
    background-color: #3882f6;
    padding: 10px 40px;
    color: #f9faf8;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.hero-img-placeholder{
    width: 400PX;
    height: 200px;
    background-color: gray;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.information-header{
    padding: 32px 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-items{
    display: flex;
    text-align: center;
    gap: 40px;
}

.information-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.information-item div:first-child{
    height: 150px;
    width: 150px;
    /* background-color: grey; */
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote-wrapper{
    width: 100vw;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote{
    width: 70vw;
    padding: 70px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote p:last-child{
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.action{
    padding: 70px;
}

.action-container{
    background-color: #3882f6;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    border-radius: 20px;
}

.action-text *{
    padding: 0;
    margin: 0;
}

.action-text *:first-child{
    font-weight: 700;
    font-size: 24px;
}

.action button{
    padding: 10px 30px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px #e5e7eb solid;
    font-size: 12px;
    border-radius: 10px;
}

footer{
    background-color: #1f2937;
    padding: 30px;
    color: #e5e7eb;
}